html {
    height: 100%;
}

body {
	font-family: 'century gothic', arial, sans-serif;
	text-align: center;
	color: #fff;
	background-image: radial-gradient(circle at top left, #686a72, #000);
}

main {
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

.field {
    background-image: url("images/bg.png");
	background-size: 30px 30px;
	background-repeat: repeat;
	outline: 1px solid rgba(255, 255, 255, 0.2);
}

.figure {
	position: absolute;
}

.brick {
	width: 30px;
    height: 30px;
	position: absolute;
    background-color: #fff;
	background-size: contain;
}

.buttons {
	display: inline-block;
	margin-top: 10px;
}

.button {
	width: 70px;
    height: 70px;
	background-size: contain;
	float: left;
	cursor: pointer;
}

#arrowL {
	background-image: url("images/arrowL.png");
}

#arrowR {
	background-image: url("images/arrowR.png");
}

#arrowD {
	background-image: url("images/arrowD.png");
}

#rotate {
	background-image: url("images/rotate.png");
}

#pause {
	background-image: url("images/pause.png");
}